<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset("css/minireset.min.css") }}" rel="stylesheet"/>
        <link href="{{ asset("css/menu.css") }}" rel="stylesheet"/>
        <style>{% block styles %}{% endblock %}</style>
    </head>
    <body>
        {% include 'blog/menu.html.twig' %}
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>