<ul>
    {% if not app.user %}
        <li><a href="{{ path('security_login') }}">Connexion</a></li>
    {% else %}
        <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
    {% endif %}    
</ul>
