{% extends 'blog/index.html.twig' %}

{% block body %}
    {% for art in articles %}
        <a href="{{ path( "blog_display_article", {id: art.id}) }}">Lire l'article</a>
        {{ art.content | raw }}
    {% endfor %}
{% endblock body %}